@media ( max-width: 768px ) {

    .hero__content {
        font-size: 2.5rem;
    }
    .aboutMe {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .aboutMe__text {
        width: 100%;
    }
    .aboutMe__img {
        width: 100%;
        text-align: center;
    }
}

@media ( max-width: 680px ) {
    .header__menu {
        display: none;
    }
    .header__burgerMenu {
        display: block;
    }
}

@media ( max-width: 480px ) {
    
    .hero__content {
        font-size: 2rem;
    }
}

@media ( max-width: 360px ) {

    .hero__content {
        font-size: 1.5rem;
    }
    
}