:root {
    --color-background: #131415;
    --color-primary: #FF00B4;
    --color-secondary: #4351FF;
    --color-text: #FFFFFF;
    --color-text-secondary: #989898;
    --color-shadow: rgba(1, 2, 7, 0.5);
    --color-card: #252525;
    --color-gradient: linear-gradient(to top, #504DF9 0%, #E80397 61%);
    --color-gradient-button: linear-gradient(to top right, #504DF9 0%, #E80397 61%);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--color-text);
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-background);
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: var(--color-background);
}
  
body::-webkit-scrollbar-thumb {
    background: var(--color-gradient);
    border-radius: 20px;
    border: 3px solid var(--color-background);
}

.title {
    font-size: 2rem;
    font-weight: 900;
    background: #FD0048;
    background: var(--color-gradient-button);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: all .3s;
}

.degradado {
    position: fixed;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8407738095238095) 100%);
    backdrop-filter: blur(10px);
}

.header__logo {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform .3s;
}
.header__logo:hover {
    transform: scale(1.1);
}
.header__logo span {
    background: #FD0048;
    background: linear-gradient(to bottom, #FD0048 0%, #FF00B4 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-weight: bold;
}

.header__menu--option {
    color: #e1e1e1;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.header__menu--option:focus,
.header__menu--option:hover {
  color: #fff;
}

.header__menu--option:focus:after,
.header__menu--option:hover:after {
  width: 100%;
  left: 0%;
}
.header__menu--option:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--color-gradient-button);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.header__burgerMenu {
    width: 40px;
    height: 30px;
    display: none;
    position: relative;
    cursor: pointer;
}
.span {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    border-radius: 1rem;
    transition: all .3s;
}
.span1 {
    top: 0;
}
.span2 {
    top: 50%;
}
.header__burgerMenu:hover .span2 {
    width: 50%;
}
.span3 {
    top: 100%;
}

.sidebar {
    width: 40vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--color-card);
    z-index: 9;
}
.sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}
.sidebar__menu li {
    transition: transform .3s;
}
.sidebar__menu li:hover {
    transform: scale(1.2);
}
.active {
    display: flex;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/hero-pattern.png);
    background-position: center;
}
.hero__content {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.hero__content h2 { 
    background: #4351FF;
    background: linear-gradient(to bottom, #4351FF 0%, #873DDF 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero__content p {
    background: #AA2FC6;
    background: linear-gradient(to bottom, #AA2FC6 0%, #E80397 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.hero__btn {
    /* display: inline-block; */
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: var(--color-text);
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.hero__btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-gradient-button);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.hero__btn::before {
    content: "";
    background: linear-gradient(
       45deg,
       #FF0000, #002BFF, #FF00C8, #002BFF,
         #FF0000, #002BFF, #FF00C8, #002BFF
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
@keyframes glowing {
    0% {
     background-position: 0 0;
    }
   
    50% {
     background-position: 400% 0;
    }
   
    100% {
     background-position: 0 0;
    }
}
.hero__btn:hover::before {
    opacity: 1;
}
.hero__btn:active {
    font-weight: bold;
    transform: scale(0.95);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.aboutMe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutMe__text {
    width: 40%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    line-height: 24px;
}
.aboutMe__img {
    width: 40%;
    text-align: right;
}
.aboutMe__img img{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    border-radius: .5rem;
}
.shadow__img {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.skills {
    width: 100%;
    height: 100%;
}
.skills__container--card, .sections {
    width: 100%;
    height: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.template__card {
    width: 220px;
    height: 330px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 15px;
    background-color: var(--color-card);
    transition: all .3s;
}
.template__card:hover {
    transform: scale(1.1);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px;
}
.template__card--img {
    width: 100px;
    height: 100px;
}
.template__card--img img{
    width: 100%;
}
.template__card--content_title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}
.template__card--content_description {
    color: var(--color-text-secondary);
    font-size: .9rem;
}

.estudios__container--card .template__card--img {
    width: 100%;
    height: 150px;

}
.estudios__container--card .template__card--img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}
.estudios__container--card .template__card--content_description {
    text-align: center;
    padding-top: 15px;
}

.experiencia {
    width: 100%;
    height: 100%;
}
.experiencia__container {
    width: 100%;
    height: 100%;
}
.templateExperiencia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--color-card);
    padding: 1rem;
    border-radius: 1rem;
}

.templateExperiencia:nth-child(even) {
    flex-direction: row-reverse;
}

.templateExperiencia__img {
    width: 100%;
    max-width: 750px;
    min-width: 200px;
}
.templateExperiencia__img img{
    width: 100%;
    border-radius: .5rem;
}
.templateExperiencia__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.templateDescription {
    width: 100%;
    max-width: 400px;
}
.templateExperiencia__content--buttons {
    display: flex;
    gap: 2rem;
}
.templateExperiencia__content--buttons .hero__btn {
    padding: 0.9em 1em;
}


.contact__form--container {
    display: flex;
    justify-content: space-around;
}
.contact__form--img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}
.contact__form--img img{
    width: 100%;
    border-radius: .5rem;
}
.contact__form--content {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
.contact__form--content p {
    margin-bottom: 2rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.form input {
    width: 100%;
    height: 2.5rem;
}
.form div {
    width: 100%;
}
.form textarea, .form input{
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: var(--color-text-secondary);
    resize: none;
    background-color: var(--color-card);
}
.form small{
    display: none;
}

.form .form__group {
    display: block;
    padding: .5rem;
    border-radius: 5px;
    color: var(--color-text);
}

.form .fail {
    background: #ff00f235;
}

.form .success {
    display: none;
    
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scrollToTop {
    position: fixed;
    bottom: .5rem;
    right: 1rem;
    background: var(--color-gradient-button);
    border-radius: 1rem;
    transition: all .3s;
    display: none;
    cursor: pointer;
}
.scrollToTop img{
    width: 50px;
    height: 50px;
}
.scrollOn {
    display: block;
    animation: scroll 1s infinite ease-out;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
